.livebar {
  padding: 0.7rem 0;
  color: white;
  display: flex;
}
.livebar--flex {
  justify-content: space-between;
  align-items: center;
}


.bg-dark {
  background: #262626;
}

.livebar__header {
  display: flex;
}
.livebar__heading {
  font-weight: 600;
  margin-right: 0.5rem;
}

@media screen and (max-width: 780px) {
  .livebar--flex {
    flex-direction: column;
  }
}
