.livebar {

  padding: 0.7rem 0;
  color: white;
  display: flex;
  width: 100%;
}
.livebar--flex {
  justify-content: space-between;
  align-items: center;
}

.bg-greyscale {
  background: #262626;
}

.livebar__header {
  display: flex;
}
.livebar__heading {
  font-weight: 600;
  margin-right: 0.5rem;
}

.livebar__player__modal {
  background: linear-gradient(106.99deg, #161621 -5.01%, #080811 108.73%);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  max-height: 115px;
  max-width: 270px;
  display: flex;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
}
/* Notification */

#notifications {
  display: block;
  width: 260px;
  position: absolute;
  left: 0;
  background: #fff;
  border-radius: 1rem;
  z-index: 0;
}
/* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
#notifications:before {
  content: "";
  display: block;
  width: 10px;
  height: 0;
  color: transparent;
  border: 10px solid #000;
  border-color: transparent transparent #000;
  margin-top: -20px;
  margin-left: 10px;
}

.player__modal__img {
  width: 70px;
  height: 85px;
  margin-right: 15px;
  border-radius: 1rem;
  display: flex;
  align-self: center;
}
.player__modal__heading {
  color: #fff;
}
.name__gold {
  color: var(--color-primary);
}

.player__modal__content .token {
  margin: 0;
  padding: 5px 10px;
}

.list__item:hover + .livebar__modal {
  display: block;
}
.livebar__modal {
  display: none;
  position: absolute;
  margin-top: 1.5rem;
  z-index: 1;
}

@media screen and (max-width: 780px) {
  .livebar--flex {
    flex-direction: column;
  }
  .livebar__header {
    margin-bottom: 1rem;
  }
}
