
.content_slide {
  width: 300px;
  border: 5px solid white;
  height: 300px;
  overflow: hidden;
}
/* .playground {
  width: 100%;
  min-width: 100vw;
  min-height: 30vh;
  padding: 5rem;
  padding-top: 19rem;
} */

