.hero {
  margin: 1rem 0;
}

.hero--white {
  color: #fff;
}

/* carousel */
.carousel {
  padding: 2rem;
}

.carousel__heading {
  margin: 1rem 0;

}

.carousel__content {
  margin: 1rem 0;
}

@media screen and (max-width:760px) {
  .carousel__heading{
    font-size: 5rem;
  }
}

/* slider */
.slider__video:hover {
  transform: scale(1.05);
}


