.hero {
  margin: 1rem 0;
}

.hero--white {
  color: #fff;
}

/* carousel */
.carousel {
  padding: 2rem;
}

.carousel__heading {
  margin: 1rem 0;
}

.carousel__content {
  margin: 1rem 0;
}

/* slider */
.slider__video:hover {
  transform: scale(1.05);
}

