/* Normalize.css */
@import url(normalize.css);

/* Typography Imports */
@import url(/src/assets/fonts/primary/primaryFonts.css);
@import url(/src/assets/fonts/secondary/secondaryFonts.css);

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  font-family: "TeXGyreAdventor", "Poppins", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --color-primary: #dda34e;
  --gods-color: linear-gradient(180deg, #161621 0%, #080811 100%);
}
h1,
h2,
h3,
p,
body,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.4rem;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
