/* Normalize.css */
@import url(normalize.css);

/* Typography Imports */
@import url(/src/assets/fonts/primary/primaryFonts.css);
@import url(/src/assets/fonts/secondary/secondaryFonts.css);

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  font-family: "TeXGyreAdventor", "Poppins", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --color-primary: #dda34e;
  --gods-color: linear-gradient(180deg, #161621 0%, #080811 100%);
}
h1,
h2,
h3,
p,
body,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.4rem;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

/* icons */
.icon {
  width: 64px;
  height: 64px;
}
.icon--primary {
  background: var(--color-primary);
}
.icon--small {
  width: 48px;
  height: 48px;
}
.icon--white {
  background: #000;
  opacity: .7;
  transition: opacity .3s ease-out;
  cursor: pointer;
}
.icon--white:hover{
  opacity: 1;
}
/* Lists */

.list__items {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.list__item {
  margin: 0 0.7rem;
  cursor: pointer;
}

/* buttons */

.btn--primary {
  background: var(--color-primary);
}

/* tokens */
.token {
  border-radius: 1rem;
  padding: 1rem;
}
.token--greyscale {
  background: rgba(255, 255, 255, 0.15);
}

/* Background */
.bg--gods {
  background: var(--gods-color);
}

/* a tag */
a {
  color: #fff;
  text-decoration: none;
}


/* active */

.active {
  opacity: 1 !important;
}
