/* Normalize.css */
@import url(normalize.css);

/* Typography Imports */
@import url(/src/assets/fonts/primary/primaryFonts.css);
@import url(/src/assets/fonts/secondary/secondaryFonts.css);

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  font-family: "TeXGyreAdventor", "Poppins", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --color-primary: #dda34e;
  --gods-color: #0d0e0f;
}
h1,
h2,
h3,
p,
body,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6.4rem;
}
h2 {
  font-size: 6rem;
  font-weight: 600;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
}
body {
  font-size: 1.4rem;
  line-height: 1.5;
  background: var(--gods-color);
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

@media screen and (max-width: 1110px) {
  .container {
    padding: 1rem;
  }
}
/* icons */
.icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon--primary {
  background: var(--color-primary);
}
.icon--small {
  width: 48px;
  height: 48px;
}
.icon--white {
  background: #000;
  opacity: 0.7;
  transition: opacity 0.3s ease-out;
  cursor: pointer;
}
.icon--white:hover {
  opacity: 1;
}

.icon--container {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

/* Lists */

.list__items {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.list__item {
  margin: 0 0.7rem;
  cursor: pointer;
}

/* buttons */
.btn {
  border: 0;
  outline: 0;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}
.btn--primary {
  background: var(--color-primary);
}
.btn--gradient {
  background: linear-gradient(92.32deg, #dda34e 0.41%, #ab6600 106.39%);
  color: #fff;
}

.btn--large {
  padding: 1rem 3rem;
  transition: all 0.2s;
}
.btn--large:hover {
  padding-right: 4rem;
}

.btn--large:hover .btn--background {
  translate: 10px;
}

.btn__arrow {
  width: 1.2rem;
  height: 1.2rem;
}

.btn--background {
  margin-left: 4px;
  padding: 0.2rem;
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.16);
  transition: all 0.2s;
}

/* tokens */
.token {
  border-radius: 1rem;
  padding: 1rem;
}
.token--greyscale {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  transition: all 0.3s;
}

.slider .token--greyscale:hover {
  transform: scale(1.1);
}

/* Background */
.bg--gods {
  background: var(--gods-color);
}

/* a tag */
a {
  color: #fff;
  text-decoration: none;
}

/* active */

.active {
  opacity: 1 !important;
}

/* slider */
/* slider */
.slider {
  opacity: 1;
  transition: all 0.3 ease-in;
}
.slider__video {
  width: 100%;
  height: 100%;
  max-width: 45rem;
  max-height: 33rem;
}

.slider__active {
  border-bottom: 5px solid var(--color-primary);
  transform: scale(1.1);
}
.slider__thumbnail {
  width: 100%;
  height: 100%;
  max-width: 15rem;
  max-height: 10rem;
}

@keyframes sliderAni {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.slider__ani {
  animation: sliderAni 5s ease-out infinite;
}

@media screen and (max-width: 1110px) {
  .slider {
    padding: 1rem 3rem;
    flex-wrap: wrap;
  }
}

.slider__btn {
  display: flex;
  align-items: center;
}

.slider .token,
.slider .btn {
  margin-left: 0;
}

/* shopping cart */

.shopping-cart {
  width: max-content;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shopping-cart--outline {
  background: linear-gradient(156.82deg, #161621 -7.23%, #040407 100.42%);
}

.shopping-cart__header {
  padding: 1rem;
}
.shopping-cart__desc {
  max-width: 180px;
  color: #828282;
}
.shopping-cart__img {
  width: 100%;
  height: 100%;
  max-width: 170px;
  max-height: 190px;
}
.shopping-cart .icon {
  align-self: flex-end;
}

.products__heading {
  top: -50px;
  left: 2rem;
}

@media screen and (max-width: 760px) {
  .products {
    margin-top: 8rem;
  }
}
/* partner */
.partner__heading,
.products__heading {
  color: #fff;
  font-weight: 700;
  max-width: 28rem;
}

@media screen and (max-width: 760px) {
  .partner__section {
    flex-direction: column;
  }
}
